@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a>To Dimension Data Web App</a>.</p>
    <p><a>Please register as a new user or log in to view the content of this website</a>.</p>
</div>
